{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Get Text Input Field Value in JavaScript</title>
<link rel = "stylesheet"
type = "text/css"
href = "{% static 'css/main.css' %}" />
</head>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
    <div class="div1" >این یک نسخه ی آزمایشی از مدالین است<a href=mailto:gorjiarman@gmail.com>gorjiarman@gmail.com</a></div>
    <div class="div2" id="divid2">
    </div>
    <div class="iii">
    <div class="helper" id="helperid">راهنما : شروع کنید</div>
    <input type="text" placeholder="اینجا بنویسید..." id="myInput" class="textbox">
    <button type="button" onclick="getInputValue();" class="but" id="butid">شروع</button>
    </div>
    <script>
        con = 0;
        var age ="";
        var gender="";
        var diseases;
        var symptoms_name;
        var answerSymptomString;
        var mySymptoms= new Object();
        function getInputValue(){
            getMessage();
            if(con ==0)
            {
                setHelper("در حال به روز رسانی...صبر کنید.");
                var btn = document.createElement("DIV");
                btn.style.fontSize="5vh";
                axios.defaults.headers.post['Content-Type'] ='application/json';
                axios.get('http://185.97.117.155/api/list/symptoms/', { headers: {
                'Accept-Language': 'fa',
                Authorization: 'Bearer 5775e6158ce345feb2b4988b4c7d940f' } })
                    .then((response) => {
                        symptoms_name = response.data;
                        axios.get('http://185.97.117.155/api/list/diseases/', { headers: {
                        'Accept-Language': 'fa',
                         Authorization: 'Bearer 5775e6158ce345feb2b4988b4c7d940f' } })
                            .then((response) => {
                                diseases = response.data;
                                document.getElementById("butid").innerHTML="ارسال";
                                btn.innerHTML = "سلام، چند سالتونه؟";
                                setHelper("سن خود را به عدد وارد کنید.")
                                document.getElementById("divid2").appendChild(btn);
                            }).catch((error) => {
                                console.log(error);

                }).then(() => {
                    console.log('fuckedup');
                });
                   
                }).catch((error) => {
                    console.log(error);
                }).then(() => {
                    console.log('fuckedup');
                });
                con++;
            }
            else if(con ==1)
            {
                age = document.getElementById("myInput").value;
                console.log(age);
                var btn = document.createElement("DIV");
                btn.style.fontSize="5vh";
                btn.innerHTML = "مرد یا زن ؟";
                setHelper("جنسیت خود را وارد کنید")
                document.getElementById("divid2").appendChild(btn);
                con++;
            }
            else if(con ==2)
            {
                gender = document.getElementById("myInput").value.replace("مرد","male").replace("زن","female");
                console.log(gender);
                var btn = document.createElement("DIV");
                btn.style.fontSize="5vh";
                btn.innerHTML = "مشکلتون چیه ؟";
                setHelper("مانند؛ تب ، سردرد، سرفه")
                document.getElementById("divid2").appendChild(btn);
                con++;
            }
            else if(con ==3)
            {
                var symptom = document.getElementById("myInput").value;
                getPredictFromSymptom(symptom,1);
                con++;
            }
            else if(con ==4)
            {
                console.log('here we are')
                var answer = document.getElementById("myInput").value;
                if(answer =="y")
                {
                    getPredictFromSymptom(answerSymptomString,1);                                            
                }
                else if(answer =="n")
                {
                    getPredictFromSymptom(answerSymptomString,-1);
                }
                else if(answer=="u")
                {
                    getPredictFromSymptom(answerSymptomString,0);
                }
                else
                {
                    var btn = document.createElement("DIV");
                    btn.style.fontSize="5vh";
                    btn.innerHTML = 'چی؟';
                    document.getElementById("divid2").appendChild(btn);
                }
                
            }
            document.getElementById("myInput").value="";

        }
        function getPredictFromSymptom(symptomString,symptomValue)
        {
            var symptomsString='{';
            translatedsymptom = getKeyByValue(symptoms_name,symptomString);
            mySymptoms['"'+translatedsymptom+'"'] = symptomValue;
            console.log(translatedsymptom);
            var bodyFormData = new FormData();
            for(mySymptom in mySymptoms)
            {
                symptomsString+=`${mySymptom}: ${mySymptoms[mySymptom]},`;
            }
            symptomsString+='}'
            symptomsString=symptomsString.replace(",}","}");
            bodyFormData.set('profile', '{"age": '+age+',"gender": "'+gender+'"}');
            bodyFormData.set('symptoms', symptomsString);
            axios.post('http://185.97.117.155/api/predict/', bodyFormData, { headers: {
            Authorization: 'Bearer 5775e6158ce345feb2b4988b4c7d940f' } })
                .then((response) => {
                    console.log(response.data);
                    getPredictFromId(response.data.id)
                }).catch((error) => {
                    console.log(error);
                }).then(() => {
                    console.log('fuckedup');
                });               
        }    
        function getPredictFromId(id)
        {
            axios.get('http://185.97.117.155/api/predict/?id='+id, { headers: {
                Authorization: 'Bearer 5775e6158ce345feb2b4988b4c7d940f' } })
                    .then((response) => {
                        console.log(response.data);
                        if(response.data.status=="pending")
                        {
                            getPredictFromId(id)
                        }
                        else
                        {
                            console.log(response.data);
                            var btn = document.createElement("DIV");
                            btn.style.fontSize="5vh";
                            btn.innerHTML = 'بیماری ها :';
                            document.getElementById("divid2").appendChild(btn);
                            con2 =0;
                            while(con2<10)
                            {
                                var btn = document.createElement("DIV");
                                btn.style.fontSize="5vh";
                                btn.innerHTML = diseases[response.data.result.predictions[con2][0]];
                                btn.style.color="red"
                                document.getElementById("divid2").appendChild(btn);
                                con2++;
                            }
                            window.scrollTo(0,document.getElementById("divid2").scrollHeight);
                            setHelper("y = آره , n = نه , u = نمیدونم");
                            var btn = document.createElement("DIV");
                            btn.style.fontSize="5vh";
                            btn.style.backgroundColor="gray"
                            btn.innerHTML = "آیا "+ symptoms_name[response.data.result.suggestions[0]]+" دارید؟";
                            answerSymptomString = symptoms_name[response.data.result.suggestions[0]];
                            document.getElementById("divid2").appendChild(btn);
                        }
                }).catch((error) => {
                    console.log(error);
                }).then(() => {
                    console.log('fuckedup');
                });
        }
        function getKeyByValue(object, value) {
            return Object.keys(object).find(key => object[key] === value);
        }
        function setHelper(message)
        {
            document.getElementById("helperid").innerHTML=message;
        }
        function getMessage()
        {
            var inputString = document.getElementById("myInput").value;
            var btn = document.createElement("DIV");
            btn.style.textAlign ="right"
            btn.style.fontSize="5vh";
            btn.style.background ="#2268c4"
            btn.innerHTML = inputString;
            document.getElementById("divid2").appendChild(btn);
            
        }

    </script>
 
</body>
</html>